#BSI{
    background-color: rgb(204, 255, 229);
}

h3 {
    text-align: center;
    color: black;
}

#Select{
    text-align: center;
    padding: 25px;
}

#Pilihan{
    font-size: large;
    background-color: white;
    border: none;
}

#Tampilkan{
    font-size: large;
    background-color: orange;
    color: white;
    border: none;
}

.card{
    text-align: center;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}


.title{
    color: black;
}

#cardParent{
    display: flex;
    justify-content: space-between;
}